/* .koshtmano {
    border-color: "#00cea8";
    border-color: -webkit-linear-gradient(-90.13deg, #00cea8 1.9%, #bf61ff 97.5%);
    border-color: linear-gradient(90.13deg, #00cea8 1.9%, #bf61ff 97.5%);
  } */
  .background-card {

    border-color: rgb(84, 5, 137);
border-color: linear-gradient(-90.13deg, rgba(0,206,168) 1.9%, rgba(191,97,255) 97.5%);
  }